node_modules/
target/
_out/
gen/
dist/
router/sales_order

.cdsrc-private.json
default-*.json
*.sqlite

# MTA
mta_archives/
*_mta_build_tmp
*.mtar

# Other
.DS_Store
webapp/resources/
resources/

# @cap-js/cds-typer
@cds-models

# outdated files
*_outdated/

# auto generated wildcard
.env
@cds-models

